<app-collector-form (onUpload)="results = $event"></app-collector-form>

<ng-container *ngIf="results">
    <div class="row pt-5">
        <div class="col-12">
            {{results | json}}
        </div>
    </div>

    <div class="row my-4">
        <div class="col-2">

            <h4>{{results.getPace()}}</h4>
            <h5>Pace</h5>
            <div>{{results.sprint_speed}}</div>
            <div>{{results.acceleration}}</div>
        </div>
        <div class="col-2">

            <h4>{{results.getShooting()}}</h4>
            <h5>Shooting</h5>
            <div>{{results.finishing}}</div>
            <div>{{results.att_position}}</div>
            <div>{{results.shot_power}}</div>
            <div>{{results.long_shots}}</div>
            <div>{{results.penalties}}</div>
            <div>{{results.volleys}}</div>
        </div>
        <div class="col-2">

            <h4>{{results.getPassing()}}</h4>
            <h5>Passing</h5>
            <div>{{results.vision}}</div>
            <div>{{results.crossing}}</div>
            <div>{{results.fk_acc}}</div>
            <div>{{results.long_pass}}</div>
            <div>{{results.short_pass}}</div>
            <div>{{results.curve}}</div>

        </div>
        <div class="col-2">

            <h4>{{results.getDribbling()}}</h4>
            <h5>Dribbling</h5>
            <div>{{results.agility}}</div>
            <div>{{results.balance}}</div>
            <div>{{results.reactions}}</div>
            <div>{{results.composure}}</div>
            <div>{{results.ball_control}}</div>
            <div>{{results.dribbling}}</div>
        </div>
        <div class="col-2">
            <h4>{{results.getDefending()}}</h4>
            <h5>Defending</h5>
            <div>{{results.interceptions}}</div>
            <div>{{results.heading_acc}}</div>
            <div>{{results.def_aware}}</div>
            <div>{{results.stand_tackle}}</div>
            <div>{{results.slide_tackle}}</div>
        </div>
        <div class="col-2">
            <h4>{{results.getPhysical()}}</h4>
            <h5>Physical</h5>
            <div>{{results.jumping}}</div>
            <div>{{results.stamina}}</div>
            <div>{{results.strength}}</div>
            <div>{{results.aggression}}</div>
        </div>
    </div>

</ng-container>